<template>
    <section class="entry-panel">
        <h1 class="sr-only">Painel de entrada</h1>

        <CurrencySwitch :currency.sync="computedCurrencyType"></CurrencySwitch>

        <FormGroup label-for="moneyAmount" label="Valor" horizontal>
            <span style="margin-right: 4px">{{ currencyTypeSymbol }}</span>
            <input v-model="computedMoneyAmount" id="moneyAmount" type="text" />
        </FormGroup>

        <Slider
            :value="tipPercent"
            id="tipPercent"
            min="10"
            max="20"
            @input="setTipPercent"
        >
            <template #label>
                Gorjeta:
                <strong> {{ tipPercent }}% </strong>
            </template>
        </Slider>

        <Slider :value="people" id="people" min="2" max="16" @input="setPeople">
            <template #label>
                Pessoas:
                <strong>{{ people }}</strong>
            </template>
        </Slider>
    </section>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { getCurrencyTypeSymbol } from '@/utils'
import CurrencySwitch from '@/components/TheCurrencySwitch'
import FormGroup from '@/components/Base/FormGroup'
import Slider from '@/components/Base/Slider'

export default {
    name: 'HomeEntrySection',

    components: {
        CurrencySwitch,
        FormGroup,
        Slider,
    },

    watch: {
        '$store.getters.totalAmount'() {
            this.updateMoney()
        },
    },

    computed: {
        ...mapState(['moneyAmount', 'tipPercent', 'people', 'currencyType']),

        currencyTypeSymbol() {
            return getCurrencyTypeSymbol(this.currencyType)
        },

        computedCurrencyType: {
            get() {
                return this.currencyType
            },
            set(value) {
                this.setCurrencyType(value)
                this.updateMoney()
            },
        },

        computedMoneyAmount: {
            get() {
                return this.moneyAmount
            },
            set(value) {
                this.setMoneyAmount(value * 1)
            },
        },
    },

    methods: {
        updateMoney() {
            this.$store.dispatch('convertToBRL')
        },

        ...mapMutations([
            'setMoneyAmount',
            'setTipPercent',
            'setPeople',
            'setCurrencyType',
        ]),
    },
}
</script>

<style lang="scss" scoped>
.entry-panel {
    .currency-switch {
        text-align: center;
    }

    input#moneyAmount {
        font-size: 24px;
        padding: 8px;
    }

    .slider {
        label strong {
            font-size: 28px;
        }
    }
}
</style>
