<template>
    <section class="results-panel">
        <h1 class="sr-only">Painel de Resultados</h1>

        <article
            v-for="item in resultPanelItem"
            :key="item.label"
            class="results-panel__item"
        >
            <h3>{{ item.label }}</h3>
            <p>
                {{ item.value | currency(item.currency, item.locale) }}
            </p>
        </article>
    </section>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
    name: 'HomeResultsSection',

    computed: {
        ...mapGetters(['tipAmount', 'totalAmount', 'totalPerPerson']),
        ...mapState([
            'moneyAmount',
            'tipPercent',
            'people',
            'currencyType',
            'totalInReal',
        ]),

        resultPanelItem() {
            return [
                {
                    label: 'Conta',
                    value: this.moneyAmount,
                    currency: this.currencyType,
                },
                {
                    label: 'Gorjeta',
                    value: this.tipAmount,
                    currency: this.currencyType,
                },
                {
                    label: 'Total',
                    value: this.totalAmount,
                    currency: this.currencyType,
                },
                {
                    label: 'por Pessoa',
                    value: this.totalPerPerson,
                    currency: this.currencyType,
                },
                {
                    label: 'em R$',
                    value: this.totalInReal,
                    currency: 'BRL',
                    locale: 'pt-BR',
                },
            ]
        },
    },
}
</script>

<style lang="scss" scoped>
article.results-panel__item {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    p {
        font-size: 28px !important;
    }
}
</style>
