<template>
    <button
        class="base-button"
        :class="buttonClasses"
        v-bind="$attrs"
        v-on="$listeners"
    >
        <slot></slot>
    </button>
</template>

<script>
export default {
    name: 'BaseButton',
    props: {
        variant: {
            type: String,
            default: '',
            validator: variant => ['primary'].includes(variant),
        },
        circle: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        buttonClasses() {
            return [this.variant, { rounded: this.circle }]
        },
    },
}
</script>

<style lang="scss" scoped>
.base-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    transition: all 0.2s;
    cursor: pointer;
    outline: 0 !important;

    &:hover {
        box-shadow: 0 0 8px rgba($black, 0.25);
    }

    &.primary {
        background: $primary;
        color: white;
        border: $primary;

        &:hover {
            background: rgba($primary, 0.9);
        }
    }

    &.rounded {
        border-radius: 50%;
        padding: 0.5rem;
    }
}
</style>
