<template>
    <div class="form-group" :class="formGroupClass">
        <label :class="labelClass" :for="labelFor">
            <slot name="label">
                {{ label }}
            </slot>
        </label>

        <slot></slot>
    </div>
</template>

<script>
export default {
    name: 'BaseFormGroup',
    props: {
        labelFor: {
            type: String,
            default: 'form_group',
        },
        label: {
            type: String,
            default: '',
        },
        labelClass: {
            type: [String, Array, Object],
            default: () => ({}),
        },
        horizontal: {
            type: Boolean,
            default: false,
        },
    },
    computed: {
        formGroupClass() {
            return {
                horizontal: this.horizontal,
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.form-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    label,
    input {
        flex: 1 1 100%;
    }

    &.horizontal {
        input {
            flex: 1;
        }

        label {
            flex: 0;
            margin-right: 1rem;
        }
    }
}
</style>
