<template>
    <FormGroup class="slider" :label-for="id">
        <template #label>
            <slot name="label">
                {{ label }}
            </slot>
        </template>

        <span class="slider__min" aria-label="Valor mínimo do slider">
            {{ min }}
        </span>

        <input
            v-model="computedValue"
            :name="`${id}__range`"
            :id="id"
            :min="min"
            :max="max"
            type="range"
        />

        <span class="slider__max" aria-label="Valor máximo do slider">
            {{ max }}
        </span>
    </FormGroup>
</template>

<script>
import FormGroup from './FormGroup'

export default {
    name: 'BaseSlider',
    components: {
        FormGroup,
    },
    props: {
        id: {
            type: String,
            default: 'baseSlider',
        },
        label: {
            type: String,
            default: '',
        },
        min: {
            type: [String, Number],
            default: 0,
        },
        max: {
            type: [String, Number],
            default: 10,
        },
        value: {
            type: Number,
            default: 0,
        },
    },
    computed: {
        computedValue: {
            get() {
                return this.value
            },
            set(value) {
                this.$emit('input', +value)
            },
        },
    },
}
</script>

<style lang="scss" scoped>
$slider-size: 20px;

.slider {
    &__min {
        margin-right: 0.5rem;
    }

    &__max {
        margin-left: 0.5rem;
    }

    input {
        -webkit-appearance: none;
        flex-basis: 0;
        height: 2px;
        border-radius: 15px;
        background: $primary !important;
        outline: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: $slider-size;
            height: $slider-size;
            border-radius: 50%;
            background: $primary;
            cursor: pointer;
        }

        &::-moz-range-thumb {
            width: $slider-size;
            height: $slider-size;
            border-radius: 50%;
            background: $primary;
            cursor: pointer;
        }
    }
}
</style>
