<template>
    <div class="currency-switch">
        <span class="currency-switch__radio">
            <input
                id="currencySwitchEur"
                :checked="currency == 'EUR'"
                name="currencySwitchGroup"
                type="radio"
                value="EUR"
                @change="handleChange"
            />
            <label for="currencySwitchEur">EUR</label>
        </span>

        <span class="currency-switch__radio">
            <input
                id="currencySwitchUsd"
                :checked="currency == 'USD'"
                name="currencySwitchGroup"
                type="radio"
                value="USD"
                @change="handleChange"
            />
            <label for="currencySwitchUsd">USD</label>
        </span>
    </div>
</template>

<script>
export default {
    name: 'TheCurrencySwitch',

    props: {
        id: {
            type: String,
            default: 'currency_switch',
        },
        currency: {
            type: String,
            default: 'EUR',
        },
    },

    methods: {
        handleChange(e) {
            this.$emit('update:currency', e.target.value)
        },
    },
}
</script>

<style lang="scss" scoped>
.currency-switch {
    margin-bottom: 1.25rem;
}

.currency-switch__radio {
    input {
        display: none;
    }

    label {
        position: relative;
        font-size: 20px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            padding: 0px 12.5px;
            height: 100%;
            background: white;
            border: 1px solid #6c757d;
            transition: background 0.3s;
            cursor: pointer;
        }
    }

    input:checked + label::after {
        background: $primary;
    }

    &:first-of-type label {
        padding-right: 35px;
        &::after {
            right: 0;
        }
    }

    &:last-of-type label {
        padding-left: 35px;
        &::after {
            left: 0;
            border-left-width: 0;
        }
    }
}
</style>
