<template>
    <header>
        <h1>Le/Tip</h1>
    </header>
</template>

<script>
export default {
    name: 'TheHeader',
}
</script>

<style lang="scss" scoped>
header {
    height: $header-height;
    max-height: $header-height;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 4em;
        margin-bottom: 0;
    }
}
</style>
