.chevron {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(1);
  width: $icon-size;
  height: $icon-size;
  border: $icon-border transparent;
  border-radius: 100px;

  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
    border-bottom: $icon-border;
    border-right: $icon-border;
    border-radius: 1px;
  }

  &.chevron-right::after {
    transform: rotate(-45deg);
    right: 6px;
  }

  &.chevron-left::after {
    transform: rotate(135deg);
    left: 6px;
  }
}

