<template>
    <DefaultLayout class="home-page">
        <EntrySection ref="entrySection" />
        <ResultsSection ref="resultSection" class="hide" />

        <BaseButton
            class="home-page__btn-next"
            variant="primary"
            circle
            @click="nextSection"
        >
            <i class="chevron chevron-right"></i>
        </BaseButton>
    </DefaultLayout>
</template>

<script>
import EntrySection from './partials/EntrySection'
import ResultsSection from './partials/ResultsSection'
import BaseButton from '@/components/Base/Button'

export default {
    name: 'HomeView',

    components: {
        BaseButton,
        EntrySection,
        ResultsSection,
    },

    data() {
        return {
            currencSection: 'entrySection',
        }
    },

    methods: {
        nextSection() {
            const btnNextIcon = document.querySelector('.home-page .chevron')
            btnNextIcon.classList.toggle('chevron-right')
            btnNextIcon.classList.toggle('chevron-left')

            this.$refs.entrySection.$el.classList.toggle('hide')
            this.$refs.resultSection.$el.classList.toggle('hide')
        },
    },
}
</script>

<style lang="scss" scoped>
@media (max-width: 767px) {
    .hide {
        position: absolute;
        top: 0;
        opacity: 0;
        pointer-events: none;
    }

    .home-page {
        &__btn-next {
            position: absolute;
            right: 20px;
            bottom: 20px;
            padding: 1rem !important;
        }
    }
}

@media (min-width: 768px) {
    .home-page {
        &__btn-next {
            display: none;
        }
    }
}
</style>
