<template>
    <div id="app">
        <HomeView />
    </div>
</template>

<script>
import HomeView from './views/Home/Index'

export default {
    name: 'App',
    components: {
        HomeView,
    },
}
</script>

<style lang="scss">
#app {
    height: 100%;
}
</style>
