<template>
    <div class="default-layout">
        <Header />
        <main :class="contentClass">
            <slot> Default Content </slot>
        </main>
    </div>
</template>

<script>
import Header from '@/components/TheHeader'

export default {
    name: 'DefaultLayout',
    components: {
        Header,
    },
    props: {
        contentClass: {
            type: [String, Object, Array],
            default: () => '',
        },
    },
}
</script>

<style lang="scss" scoped>
$padding: 20px;

.default-layout {
    padding: $padding;
    height: 100%;
    height: calc(100% - #{$padding} * 2);
    margin: 0 auto;

    main {
        height: calc(100% - #{$header-height});
    }
}

@media (min-width: 768px) {
    .default-layout {
        max-width: 576px + $padding * 2;
    }
}

@media (min-width: 992px) {
    .default-layout {
        max-width: 640px + $padding * 2;

        main {
            display: flex;
            > section {
                flex: 1;
            }
        }
    }
}

@media (min-width: 1200px) {
    .default-layout {
        max-width: 890px + $padding * 2;
    }
}
</style>
